# OSX
#
.DS_Store

# Xcode
#
frontend/geckocart/build/
frontend/geckocart/*.pbxuser
frontend/geckocart/!default.pbxuser
frontend/geckocart/*.mode1v3
frontend/geckocart/!default.mode1v3
frontend/geckocart/*.mode2v3
frontend/geckocart/!default.mode2v3
frontend/geckocart/*.perspectivev3
frontend/geckocart/!default.perspectivev3
frontend/geckocart/xcuserdata
frontend/geckocart/*.xccheckout
frontend/geckocart/*.moved-aside
frontend/geckocart/DerivedData
frontend/geckocart/*.hmap
frontend/geckocart/*.ipa
frontend/geckocart/*.xcuserstate
frontend/geckocart/**/.xcode.env.local

# Android/IntelliJ
#
frontend/geckocart/build/
frontend/geckocart/.idea
frontend/geckocart/.gradle
frontend/geckocart/local.properties
frontend/geckocart/*.iml
frontend/geckocart/*.hprof
frontend/geckocart/.cxx/
frontend/geckocart/*.keystore
frontend/geckocart/!debug.keystore

# node.js
#
frontend/geckocart/node_modules/
frontend/geckocart/npm-debug.log
frontend/geckocart/yarn-error.log

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

frontend/geckocart/**/fastlane/report.xml
frontend/geckocart/**/fastlane/Preview.html
frontend/geckocart/**/fastlane/screenshots
frontend/geckocart/**/fastlane/test_output

# Bundle artifact
frontend/geckocart/*.jsbundle

# Ruby / CocoaPods
frontend/geckocart/Pods/
frontend/geckocart/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
frontend/geckocart/.metro-health-check*

# testing
frontend/geckocart/coverage

# Yarn
frontend/geckocart/.yarn/*
frontend/geckocart/!.yarn/patches
frontend/geckocart/!.yarn/plugins
frontend/geckocart/!.yarn/releases
frontend/geckocart/!.yarn/sdks
frontend/geckocart/!.yarn/versions


# Backend gitignore
# See https://help.github.com/articles/ignoring-files for more about ignoring files.
#
# Temporary files generated by your text editor or operating system
# belong in git's global ignore instead:
# `$XDG_CONFIG_HOME/git/ignore` or `~/.config/git/ignore`

# Ignore bundler config.
backend/.bundle

# Ignore all environment files.
backend/.env*

# Ignore all logfiles and tempfiles.
backend/log/*
backend/tmp/*
!backend/log/.keep
!backend/tmp/.keep

# Ignore pidfiles, but keep the directory.
backend/tmp/pids/*
!backend/tmp/pids/
!backend/tmp/pids/.keep

# Ignore storage (uploaded files in development and any SQLite databases).
backend/storage/*
!backend/storage/.keep
backend/tmp/storage/*
!backend/tmp/storage/
!backend/tmp/storage/.keep

# Ignore master key for decrypting credentials and more.
backend/config/master.key
